<nav class="site-nav">
    <div class="site-nav-left">
       
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
 
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {% if site.github %}
                <a class="social-link social-link-tw" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener"> Github </a>
            {% endif %}
        </div>
    </div>
</nav>
